<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95344737472-97obm7bkfrvfep4n8aflhovlsuqti6ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95344737472-97obm7bkfrvfep4n8aflhovlsuqti6ie</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>95344737472-424q6gojvl41vse0tphqclo5tc8duej9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbHhZGFQfbhmeKuT0G8y5LPze93ypSlCE</string>
	<key>GCM_SENDER_ID</key>
	<string>95344737472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hcmute.gasgasapp</string>
	<key>PROJECT_ID</key>
	<string>gas-gas-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gas-gas-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95344737472:ios:3fb92813a98972a67a0125</string>
	<key>DATABASE_URL</key>
	<string>https://gas-gas-app.firebaseio.com</string>
</dict>
</plist>